<!-- Modal Begins Here -->
  <div id="myModal" class="black-text modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <form id="modal-form"> -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title">Time's Up!</h3>
        </div>
        <div class="modal-body">
          <ul>
            <h4><bold>Completed:</bold></h4>
            <li ng-repeat="completed in tasks" type="none" ng-show="completed.complete === true">
              {{completed.task}}
            </li>
          </ul>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" onClick="window.location.reload()">Start New Session</button>
        </div>
        <!-- </form> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <button id='stop-timer' ng-click="loadChecked()" type="button" data-toggle="modal" data-target="#myModal">STOP TIMER</button>
