<footer class="foot">
  <div id="header">
<!--     <h2>Tablet Review</h2> -->

    <a href="#" id="menu-trigger">View Stats History<span class="arrow"></span></a>
      <div id="menu">
<!--         <div id="display-graph"> -->
          <%= render "graph" %>
<!--         </div> -->
      </div>
                <!--/#menu-->
  </div>
</footer>
