<div id="header">

  <h2>Tablet Review</h2>
  <a href="#" id="menu-trigger">Menu<span class="arrow"></span></a>

  <div id="menu">

    <div class="column">
      <h3>Apple</h3>
      <ul>
        <li><a href="#">iPad</a></li>
        <li><a href="#">iPad 2</a></li>
        <li><a href="#">iPad 3 (retina display)</a></li>
      </ul>
    </div>
    <!--/.column-->

    <div class="column">
      <h3>Android</h3>
      <ul>
        <li><a href="#">Samsung Galaxy</a></li>
        <li><a href="#">Asus Transformer</a></li>
        <li><a href="#">Google Nexus</a></li>
        <li><a href="#">Toshiba Thrive</a></li>
      </ul>
    </div>
    <!--/.column-->

    <div class="column">
      <h3>Other</h3>
      <ul>
        <li><a href="#">Blackberry Playbook</a></li>
        <li><a href="#">HP Touchsmart</a></li>
      </ul>
    </div>
    <!--/.column-->

  </div>
  <!--/#menu-->

</div>
<!--/#header-->
