
<div class="canvas timer-div">
  <div class="timer-bar"></div>
  <div class="content-box">
    <div class="timer-display"></div>
    <div class="timer-info">Remaining time</div>
    <div class="timer-button">Start!</div>
  </div>
</div>
