<div ng-app="taskApp">
  <div ng-controller="TaskListCtrl">
    <form name="taskForm" ng-submit="save()">
        <input type="text" ng-model="task.task"  size="30"
               placeholder="add new task here">
        <input class="btn-primary" type="submit" value="add">
    </form>
    <ul>
      <p>Total number of tasks: {{tasks.length}}</p>
      <li ng-repeat="task in tasks">
        <span>{{task.task}}</span>
        <p>{{task.category}}</p>
        <a href="" ng-click="deleteTask(task.id)", remote: true>Remove</a>
      </li>
    </ul>
  </div>
</div>
<button id="refresh">Stuff</button>
