<div id='timer-tasks' ng-controller="TaskListCtrl">
  <%= render "timer" %>
  <div id='task-list' ng-controller="TaskListCtrl">
    <form id='input-bar' name="taskForm" ng-submit="save()">
        <input type="text" ng-model="task.task"  size="30"
               placeholder="add new task then press Enter" type="submit">
      <!-- <br>{{task.task}} -->
    </form>
    <ul>
      <li class='testing' ng-hide="hide" ng-repeat="task in tasks" type="none">
        <!-- This ng-click updates checked status -->
        <input type="checkbox" ng-model="task.complete" ng-click="update(task.id, task)">
        <span class="done-{{task.complete}}">{{task.task}}</span>
        <button ng-click="deleteTask(task.id, task.task); hide=true">&times;</button>
      </li>
       <li type="none" ng-show="task.task.length > 0">
         <input type="checkbox">
         <span>{{task.task}}</span>
         <button ng-click="deleteTask(task.id, task.task)">&times;</button>
       </li>
    </ul>
    <br />
    <p>total number of tasks: {{tasks.length}}</p>
    <br />
    <%= render "modal" %>
  </div>
    <%= render "slideup" %>
</div>

<script type="text/javascript">
  var complete = []
<% @complete.each do |task| %>
  complete.push("<%= task.updated_at %>");
<% end %>
</script>
